Source: libfreenect
Section: libdevel
Priority: extra
Maintainer: Nicolas Bourdaud <nicolas.bourdaud@gmail.com>
Uploaders: Arne Bernin <arne@alamut.de>, Yaroslav Halchenko <debian@onerussian.com>, Mark Renouf <mark.renouf@gmail.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50), dpkg-dev (>= 1.16.1~), python-support,
 cmake,  pkg-config, libusb-1.0-0-dev, freeglut3-dev | libglut3-dev,
 libxmu-dev, libxi-dev, python-dev, cython, python-numpy
Build-Depends-Indep: doxygen
Standards-Version: 3.9.2
Vcs-Git: git://github.com/arnebe/libfreenect.git
Vcs-Browser: https://github.com/arnebe/libfreenect
Homepage: http://openkinect.org/

Package: libfreenect0.1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libfreenect
Description: library for accessing Kinect USB camera
 libfreenect is the core library for accessing the Microsoft Kinect
 USB camera. Currently, the library supports access to:
  - RGB and Depth Images
  - Motors
  - Accelerometer
  - LED

Package: libfreenect-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libfreenect0.1 (= ${binary:Version})
Description: library for accessing Kinect USB camera -- development files
 libfreenect is the core library for accessing the Microsoft Kinect
 USB camera.
 .
 This is the development package containing the libraries and header for
 software development with libfreenect.

Package: libfreenect-demos
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for accessing Kinect USB camera -- demonstrations
 libfreenect is the core library for accessing the Microsoft Kinect USB camera.
 .
 This package includes some example programs for kinect.
 All programs start with a freenec- prefix.

Package: libfreenect-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: library for accessing Kinect USB camera -- documentation
 libfreenect is the core library for accessing the Microsoft Kinect
 USB camera.
 .
 This package contains the documentation of the API of libfreenect.

Package: python-freenect
Section: python
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, ${shlibs:Depends},
         libfreenect0.1 (= ${binary:Version}), python-numpy
Suggests: python-matplotlib, python-opencv
Description: library for accessing Kinect USB camera -- Python bindings
 libfreenect is the core library for accessing the Microsoft Kinect
 USB camera.
 .
 This package provides freenect extension to use libfreenect functionality
 from Python and includes some demo scripts.

Package: freenect
Section: libs
Architecture: any
Depends: ${misc:Depends}, libfreenect-demos, libfreenect-dev, libfreenect0.1
Description: library for accessing Kinect USB camera -- meta package
 libfreenect is the core library for accessing the Microsoft Kinect
 USB camera.
 .
 This is the meta package to install all components of the project.
