Source: libfreenect
Section: libdevel
Priority: extra
Maintainer: Arne Bernin <arne@alamut.de>
Uploaders: Yaroslav Halchenko <debian@onerussian.com>, Mark Renouf <mark.renouf@gmail.com>
Build-Depends: debhelper (>= 7), libusb-1.0-0-dev, libglut3-dev, cdbs, cmake,  pkg-config, libxmu-dev, libxi-dev, python-dev, cython
Standards-Version: 3.9.1
Vcs-Git: git://github.com/arnebe/libfreenect.git
Vcs-Browser: https://github.com/arnebe/libfreenect
Homepage: http://openkinect.org/

Package: libfreenect0.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0
Conflicts: libfreenect
Description: library for accessing Kinect USB camera
 libfreenect is the core library for accessing the Microsoft Kinect
 USB camera. Currently, the library supports access to:
  - RGB and Depth Images
  - Motors
  - Accelerometer
  - LED

Package: libfreenect-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0-dev
Description: library for accessing Kinect USB camera -- development files
 libfreenect is the core library for accessing the Microsoft Kinect
 USB camera.
 .
 This is the development package containing the libraries and header for
 software development with libfreenect.

Package: libfreenect-demos
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0, libglut3
Description: library for accessing Kinect USB camera -- demonstrations
 libfreenect is the core library for accessing the Microsoft Kinect USB camera.
 .
 This package includes some example programs for kinect.
 All programs start with a freenec- prefix.

Package: python-freenect
Section: python
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}, libfreenect0.0
Description: library for accessing Kinect USB camera -- Python bindings
 libfreenect is the core library for accessing the Microsoft Kinect
 USB camera.
 .
 This package provides freenect extension to use libfreenect functionality
 from Python and includes some demo scripts.

Package: freenect
Section: libs
Architecture: any
Depends: ${misc:Depends}, libfreenect-demos, libfreenect-dev, libfreenect0.0
Description: library for accessing Kinect USB camera -- meta package
 libfreenect is the core library for accessing the Microsoft Kinect
 USB camera.
 .
 This is the meta package to install all components of the project.
