#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_PYTHON:Bool=True

override_dh_auto_install:
	dh_auto_install
	mv debian/tmp/usr/bin/glview debian/tmp/usr/bin/freenect-glview
	mv debian/tmp/usr/bin/glpclview debian/tmp/usr/bin/freenect-glpclview
	mv debian/tmp/usr/bin/cppview debian/tmp/usr/bin/freenect-cppview

override_dh_installdocs:
	dh_installdocs --all CONTRIB
